* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px auto 40px;
  height: 100vh;
}


.header {
  grid-area: header;
  background: #004080;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}


.sidebar {
  grid-area: sidebar;
  background: #f4f4f4;
  columns: black;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
 
}

.sidebar li:hover {
  color: white;
  font-weight: bold;
}


.main {
  grid-area: main;
  padding: 20px;
  background: #fff;
}

.charts {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart {
  flex: 1;
  background: #e6f2ff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}


.footer {
  grid-area: footer;
  background: #004080;
  color: white;
  text-align: center;
  line-height: 40px;
}
.form{
   justify-content: center;
   text-align: center;
   padding: 25px;
   margin-bottom: 200px;
   margin-left: 600px;
   margin-right: 500px;
   background-color: cadetblue;
   border-radius: 20px;
   box-shadow:20px ;
}
body{
    background-color: bisque;
    border: 200px;
}
